<h1>My Workouts</h1>

<% @current_user.workouts.each do |workout| %>
    <ul>
        <li> 
            <%= link_to "#{workout.name}", "/exercises/#{workout.exercise_id}" %> 
         </li>
    </ul>
<% end %>

