<h1>My Routines</h1>
<div class="container">
<% @current_user.routines.each do |routine| %>
    <div class="card" >
        <h2><%= routine.title %></h2>
        <div class="cardimage">
        <% if @current_user.image.present?%>
            <%= link_to cl_image_tag(@current_user.image), routine %>
        <% else %>
            <%= link_to image_tag("default.png"), routine %>
        <% end %>
        </div>
        <br>
    </div>
<% end %>
<% if @current_user.routines.empty? %>
    <h2>No routines!</h2>
<% end%>

<div class="controls">
<%= link_to "Create Routine", new_routine_path %>
</div>

</div>