<h1>My Routines</h1>

<div class="container">
<% @current_user.routines.each do |routine| %>
    <div class="card">
        <h2><%= routine.title %></h2>
        <%= link_to image_tag("https://placewaifu.com/image/400"), routine %>
    </div>
<% end %>
<br>

<div class="controls">
<%= link_to "Create Routine", new_routine_path %>
</div>

</div>