<div class="user_image">
    <%= image_tag(@user.image) %>
</div>

<div class="user_name">
    <h2>
        <%= @user.email %>'s' Page
    </h2>
    
</div>

<div class="user_facts">
    <ul>
        <li>has made <strong><%= @user.routines.count  %></strong> Routines </li>
    </ul>
</div>

<div class="controls">
    <%= link_to "Edit User", edit_user_path %>
</div>
