<h1>Welcome</h1>


<% if @current_user.present? %>
    <%= link_to image_tag("user_home.png", :class => "home") %>
    <p>Time to make some gains</p>
<% else %>
    <%= link_to image_tag("home.png", :class => "home"), login_path %>
    <p>Ready to begin?</p>
<% end %>