@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: white;
}

.home {
    width: 20%;
}

body {
  font-family: "Quicksand", sans-serif;
  color: white;
  text-align: center;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

.container {
    width: 960px;
    margin: auto 0;
    text-align: center;
}

.card {
    width: 250px;
    height: 350px;
    display: inline-block;
    border: 5px solid white;
    border-radius: 2em;
    margin: 1em;
}

img {
    width: 100%;
    border-radius: 1em;
}

.controls {
    line-height: 200px;
}

input, select {
    margin-left: 390px;
    text-align: center;
}

select {
    width: 185px;
}

.submit {
    margin-top: 1em;
    text-align: center;
}
