@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: white;
}

.home {
    width: 20%;
}

body {
  font-family: "Quicksand", sans-serif;
  color: white;
  text-align: center;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

.container {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.card {
    width: 250px;
    height: 420px;
    display: inline-block;
    border: 5px solid white;
    border-radius: 2em;
    margin: 1em;
}

img {
    width: 100%;
    border-radius: 1em;
}

.controls {
    line-height: 200px;
}

/* login box */
input {
    border-radius: 1em;
    margin: 1em;
    height: 30px;
    width: 150px;
    text-align: center;
    font-family : inherit;
    font-size: 1em; 
}

.form {
    content: "\a";
    white-space: pre;
}

.muscle {
    height: 200px;
    width: auto;
}